/* about.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.about-content-div {
    background-color: #007bff7a;
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007bff;
}

.about-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
}

.card {
    width: 200px;
    background-color:whitesmoke;
    border: 0.5px lightslategray;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.card h3 {
    color: #007bff;
}
/* Brainware university */
.container-around{
    background-image: url('/static/images/Brainware_university1.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Adjust the padding as needed */
    width: 100%; /* Ensure the container takes the full width of its parent */
}

.brainware-university-container {
    text-align: center;
    margin-top: 20px; /* Add margin from the top */
}

.brainware-university-container img {
    display: block;
    margin: 0 auto;
}

.brainware-university-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.brainware-university-container button:hover {
    background-color: #0056b3;
} 
.content a.button-link {
    background-color: #007bff;
    color: white;
    padding-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 55px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}