/* about.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}
.about-content-div {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007bff;
}

.about-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
}

.card {
    width: 200px;
    border: 1px solid #dee2e6;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.card h3 {
    color: #007bff;
}

.brainware-university-container {
    text-align: center;
    margin-top: 20px;
}

.brainware-university-container img {
    max-width: 150px;
    margin-bottom: 10px;
}

.brainware-university-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.brainware-university-container button:hover {
    background-color: #0056b3;
}
